<div *ngIf="tree" class="example-card">
     <mat-card *ngIf="getData(); let tree" class="example-card">
          <mat-card-header>
               <div mat-card-avatar class="example-header-image"></div>
               <mat-card-title>{{ tree._type.name }}</mat-card-title>
               <mat-card-subtitle>{{ tree._type.scientific_name }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]='tree.image' [alt]='tree.id'>
          <mat-card-content>
               <mat-tab-group>
                    <div>
                    <mat-tab label="Identificación">
                         <p>Código de identificación: {{ tree.id }}</p>
                         <p>Latitud: {{ tree.lat }}</p>
                         <p>Longitud: {{ tree.lon }}</p>
                    </mat-tab>
                    <mat-tab label="Especificaciones">
                         <p>Fecha de plantacion: {{ tree.grounded }}</p>
                         <p>Radio de circunferencia: {{ tree.circumference }}</p>
                         <p>Altura: {{ tree.size }}</p>
                    </mat-tab>
                    </div>
               </mat-tab-group>
          </mat-card-content>
          <mat-card-actions>
               <a [routerLink]="['/map']" mat-raised-button color="primary">Volver</a>
               <button *ngIf="!auth.isAuthenticated()" mat-raised-button disabled type="button">Enviar reporte</button>
               <button *ngIf="(getData() && auth.isAuthenticated() )" (click)="sendReport(tree.id)" mat-raised-button color="warn" type="button">Enviar reporte</button>
          </mat-card-actions>
     </mat-card>
</div>