.list-container {
    height: 250px;
    border: 1px solid black;
    width: 250px;
}

.caja {
    width: 300px;
    height: 300px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.caja:active {
    /* border: 5px solid red; */
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://images.vexels.com/media/users/3/127875/isolated/preview/e93d4fc271ee8ae538219071808e1829-verde--rbol-de-pino-gota-sombra-icono-by-vexels.png');
    background-size: cover;
}

.container {
    padding: 10px;
}