.vscode
comuniTree/__pycache__/
tree/__pycache__/
tree/migrations/__pycache__/
api/__pycache__/
api/migrations/__pycache__/
users/__pycache__/
users/migrations/__pycache__/
reports/__pycache__/*
front-end/node_modules/

