<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agregar Arbol</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about-header">
    <img src="https://www.pngkey.com/png/full/149-1490365_save-tree-transparent-tree-icon.png">
  </div>

  <div class="outer-content">
          <button (click)=updateLocation() type="primary" mat-raised-button color="primary"> 
            Actualizar Coordenadas
        </button>
    <form (ngSubmit)="submit(form)" #form="ngForm" class="example-form" *ngIf="add_Tree.lat" novalidate="">
          
        <div>
          <mat-form-field>
              <input matInput type="number" [(ngModel)]="add_Tree.lat" name="lat" #lat="ngModel" required placeholder="Latitud" disabled value="{{ add_Tree.lat }}" />
          </mat-form-field>
          <mat-form-field>
              <input matInput type="number" [(ngModel)]="add_Tree.lon" name="lon" #lat="ngModel" required placeholder="Longitud" disabled value="{{ add_Tree.lon }}" />
          </mat-form-field>
        </div>
        
        <ion-label>
          <button mat-raised-button color="primary" (click)="photo()">
            Tomar Fotografia 
        <ion-icon name="camera"></ion-icon>
          </button>
        </ion-label>
        <div *ngIf="displayImage">
          <img src="{{displayImage}}">
        </div>
        <div>
        <mat-form-field>
          <div *ngIf="circumference.errors?.required"></div>
          <input matInput class="form-control" type="number" [(ngModel)]="add_Tree.circumference" name="circumference" #circumference="ngModel" min=0 placeholder="Circunferencia (Centímetros)" required value="0" />
        </mat-form-field>
        </div>
        <div>
        <mat-form-field>
          <div *ngIf="size.errors?.required"></div>
          <input matInput class="form-control" type="number" [(ngModel)]="add_Tree.size" name="size" #size="ngModel" min=0 placeholder="Altura (Centímetros)" required value="0" />
        </mat-form-field>
        </div>
        <button [disabled]="!form.valid" type="submit" mat-raised-button color="primary"> 
            Agregar Arbol
    </button>
    </form>
  </div>

</ion-content>
