.about-header {
  background-color: var(--ion-color-dark);
  padding: 16px;
  width: 100%;
  height: 30%;
  text-align: center;
}

.about-header img {
  max-height: 100%;
}

.about-info p {
  color: var(--ion-color-dark);
  text-align: left;
}

.about-info ion-icon {
  margin-inline-end: 32px;
}

.ios .about-info {
  text-align: center;
}
.example-cont {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.example-container>* {
  width: 50%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.ng-invalid.ng-touch:not(form) {
  border: 1px solid red;
}