<div style="height: 100vh;">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
              <mat-icon>menu</mat-icon>
            </button>
            <span>
            		<a class="nav-link" [routerLink]="['home']" mat-button>
            		<mat-icon>home</mat-icon>
                       ComuniTree
                    </a>
		</span>

            <span class="example-spacer"></span>
            <div fxShow="true" fxHide.lt-md="true">
                <button (click)="login()" *ngIf="!auth.isAuthenticated()" mat-flat-button color="primary"><mat-icon>account_circle</mat-icon>Iniciar Sesion</button>
                <button (click)="logout()" *ngIf="auth.isAuthenticated()" mat-flat-button color="primary"><mat-icon>account_circle</mat-icon>Cerrar Sesion</button>
                <a class="nav-link" [routerLink]="['map']" mat-button>
                    <mat-icon>map</mat-icon>
                    Ver Mapa ComuniTree
                </a>
                <a *ngIf="auth.isAuthenticated()" href="http://35.247.204.141:4200/pages" mat-button>
                    <mat-icon>lock_open</mat-icon>
                    Dashboard
                </a>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <div class='button-container'>
                    <button (click)="login()" *ngIf="!auth.isAuthenticated()" mat-flat-button color="primary"><mat-icon>account_circle</mat-icon>Iniciar Sesion</button>
                    <button (click)="logout()" *ngIf="auth.isAuthenticated()" mat-flat-button color="primary"><mat-icon>account_circle</mat-icon>Cerrar Sesion</button>
                </div>
                <div class='button-container'>
                    <a class="nav-link" [routerLink]="['map']" mat-list-item (click)="sidenav.toggle()">
                        <mat-icon>map</mat-icon>
                        Ver Mapa ComuniTree</a>
                </div>

                <a *ngIf="auth.isAuthenticated()" class="nav-link" [routerLink]="['dashboard']" mat-list-item (click)="sidenav.toggle()">
                    <mat-icon>lock_open</mat-icon>
                    Dashboard
                </a>
                <a (click)="sidenav.toggle()" mat-list-item>
                    <mat-icon>close</mat-icon> Cerrar Menu
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <router-outlet></router-outlet>
    </mat-sidenav-container>
</div>