<div *ngIf="reports" class="row">
  <div class="col-md-6">
    <div style="display: block;">
      <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div class="container">
      <button (click)="randomize()" mat-raised-button color="warn" type="button">Generar data aleatoria</button>
      <button (click)="randomizeType()" mat-raised-button color="primary" type="button">Cambiar tipo de grafico</button>
    </div>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px">
    <app-table></app-table>
  </div>
  <div class="container" style="padding: 10px">
    <app-reports-table></app-reports-table>
  </div>
</div>